html, body {
width:auto;
	height: 768px;
	
	background-image: url("../bg1.png");
	background-repeat:no-repeat;
	background-size: cover;
}
* {
	margin: 0;
	padding: 0;
}

.graphs {
	width: 100%;
	height: 40%;
}

#ui1{

width:1024px;
height:768px;

}




#uichoice {
	position: absolute;
	bottom: 0;
}

@font-face {
	font-family: 'gunarregular';
	src: url('../fonts/gunar/the_northern_block_-_gunar-webfont.eot');
	src: url('../fonts/gunar/the_northern_block_-_gunar-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gunar/the_northern_block_-_gunar-webfont.woff') format('woff'),
		 url('../fonts/gunar/the_northern_block_-_gunar-webfont.ttf') format('truetype'),
		 url('../fonts/gunar/the_northern_block_-_gunar-webfont.svg#gunarregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gunarlight';
	src: url('the_northern_block_-_gunar_light-webfont.eot');
	src: url('the_northern_block_-_gunar_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('the_northern_block_-_gunar_light-webfont.woff') format('woff'),
		 url('the_northern_block_-_gunar_light-webfont.ttf') format('truetype'),
		 url('the_northern_block_-_gunar_light-webfont.svg#gunarlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gunarthin';
	src: url('the_northern_block_-_gunar_thin-webfont.eot');
	src: url('the_northern_block_-_gunar_thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('the_northern_block_-_gunar_thin-webfont.woff') format('woff'),
		 url('the_northern_block_-_gunar_thin-webfont.ttf') format('truetype'),
		 url('the_northern_block_-_gunar_thin-webfont.svg#gunarthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gunarbold';
	src: url('the_northern_block_-_gunar_bold-webfont.eot');
	src: url('the_northern_block_-_gunar_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('the_northern_block_-_gunar_bold-webfont.woff') format('woff'),
		 url('the_northern_block_-_gunar_bold-webfont.ttf') format('truetype'),
		 url('the_northern_block_-_gunar_bold-webfont.svg#gunarbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

tspan {
	font-family: 'gunarregular';
	font-size: 14px;
}

.leftDiv {
	position:relative;
	width:30%;
	
	left:50px;
	bottom:210px;
	
}
.rightDiv {
	position:relative;
	width:30%;
	bottom:700px;
	left:56%;
	z-index:2;
}


#humidity{

top:30px;


}


#wind{




}

.controlHeader1 {
	position:relative;
	top:90px;
left:140px;
	font-family: gunarregular;
	color:grey;
}

.controlHeader2 {
position:relative;
bottom:20px;
left:150px;
font-family: gunarregular;
color:grey;
	
}


.controlHeader3 {
	position:relative;
	top:7px;
left:140px;
	font-family: gunarregular;
}

.controlHeader4 {
position:relative;
bottom:18px;
left:150px;
font-family: gunarregular;
	
}

.icon1{

position:relative;
left:35%;
z-index:4;
bottom:75px;

}

.icon2{

position:relative;
left:80%;
z-index:4;
bottom:75px;

}

.circ{


z-index:1;
position:absolute;
top:218px;

left:500px;

height:550px; width:550px;




}

#pressurePointer{

position:absolute;
left:50%;
bottom:135px;
}